/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --clr-body-bg: #fffbeb;
    --clr-footer-bg: #fef3c7;

    --ff-regular: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --ff-headings: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

    --sz-width-padding: 5%;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after { box-sizing: border-box; }

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd { margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] { list-style: none; }

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label { line-height: 1.1; }

/* Balance text wrapping on headings */
h1, h2, h3, h4 { text-wrap: balance; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) { min-height: 10em; }

/* Anything that has been anchored to should have extra scroll margin */
:target { scroll-margin-block: 5ex; }

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* General */
body {
    background-color: var(--clr-body-bg);
    font-family: var(--ff-regular);
    display: grid;
    grid-template-areas:
        'v-card'
        'p-main'
        'footer';
}

h1, h2, h3 { font-family: var(--ff-headings); }

/* Layout */
header, main, footer {
    padding: 2em var(--sz-width-padding);
}

header {
    grid-area: v-card;
}

main {
    grid-area: p-main;
}

footer {
    grid-area: footer;
    background-color: var(--clr-footer-bg);
    width: 100%;
    text-align: center;
}

/* V-card */
.vcard__title {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
    gap: 0 0.5em;
}

.vcard__name { font-size: 3rem; }
.vcard__pronouns { font-size: 1.125rem; }

.vcard__avatar {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 8px 8px 40px -10px rgba(0,0,0,.3);
}

/* Sections */
.section {
    font-size: 1.2rem;
    page-break-inside: avoid;
    padding-top: 2rem;
	padding-bottom: 2rem;
}

.section:first-child { padding-top: 0; }
.section:last-child { padding-bottom: 0; }
.section__title { font-size: 2.5rem; }

/* Components */
.inline-icon > svg {
    display: inline-block;
    vertical-align: -10%;
    height: 0.9em;
    fill: currentColor;
}

/* Media query for larger screen sizes */
@media only screen and (min-width: 1025px) {
    body {
        --grid-whitespace: max(min(160px, calc((100% - 1024px) / 2)), 20px);
        grid-template-areas:
            '. v-card p-main .'
            '. footer footer .';
        grid-template-columns: var(--grid-whitespace) 1fr 2fr var(--grid-whitespace);
    }

    header, main { padding-top: 5rem; }
}