<footer class="footer">
    <p><strong>&copy; {% currentYear %} {{ author.name }}.</strong> All rights reserved.</p>
    <p>{{ strings.labels.lastUpdated }}: {{ sitemeta.buildTimestamp | dateToFormat('d LLLL yyyy') }}</p>
</footer>